<div>

    {{#each randomBeer}}
        {{!-- <h3>{{name}}</h3>
        <img src="{{image_url}}" alt="beer" height="200px">
        <p>{{tagline}}</p>
        <p>{{description}}</p> --}}
        {{>beerpartial this}}
    {{/each}}

</div>